<template>
  <div class="adjust-top-margin">
    <div class="wrapper p-t-md">
      <h2
        class="title is-pulled-right is-uppercase"
        :class="node.class"
      >
        {{ node.status }}
      </h2>
      <h1 class="title is-size-3 m-b-md" v-if="node.name">{{ node.name }}</h1>
      <h2 class="title is-size-3 m-b-md">
        {{ $t('node.id') }} {{ node.id }}
      </h2>
      <h2 class="title is-size-4 m-b-md" v-if="node.walletAddress">
        <a
          target="__blank"
          rel="noopener noreferrer"
          :href="$options.filters.toExplorerAddress(node.walletAddress)">
          {{ node.walletAddress }}
        </a>
      </h2>
      <p class="is-size-5" v-if="node.team">
       {{ $t('node.group') }} {{ node.team }}
      </p>
      <p class="is-size-5">
        {{ locationBlurbItems }}
      </p>
      <socials :socials="socials" />
      <p class="m-t-lg has-text-darker is-size-5" v-if="node.description">
        {{ node.description }}
      </p>
      <div class="widget m-t-xl">
        <div class="widget-header is-tertiary-light flex space-between align-center">
          <div class="widget-title">
            {{ $t('node.metrics') }}
          </div>
          <div class="widget-controls has-text-right">
            <dropdown
              class="is-right m-b-xs-mobile"
              :items="timeframes"
              @item-clicked="selectTimeframe"
              :selected="selectedTimeframe"
            >
              <template #item="{ item: timeframe }">
                <span
                  class="is-capitalized"
                  :class="{ 'is-link': timeframe === selectedTimeframe }"
                >
                  {{ timeframe }}
                </span>
              </template>
            </dropdown>
            <dropdown
              v-if="selectedTimeframe === MONTHLY"
              enable-search
              class="is-right"
              :items="availableMonths"
              :selected="selectedMonth"
              @item-clicked="selectMonth"
            >
            </dropdown>
            <dropdown
              enable-search
              v-if="selectedTimeframe === WEEKLY"
              class="is-right"
              :selected="selectedWeek"
              :items="availableWeeks"
              @item-clicked="selectWeek"
            >
            </dropdown>
          </div>
        </div>
        <div class="widget-content p-md-desktop p-l-lg-desktop
          p-r-lg-desktop p-sm-touch">
          <div class="columns is-multiline is-vcentered">
            <div class="column is-half-tablet is-one-quarter-desktop has-text-centered">
              <div class="title is-size-4 m-b-md">
                {{ $t('node.uptime') }}
              </div>
              <pie-chart
                class="is-relative max-size-20"
                v-if="hasDataInDatasets(uptimeData)"
                :chart-data="uptimeData"
              />
              <p class="has-text-danger has-text-centered" v-else>
                {{ $t('error.notEnoughDataGraph') }}
              </p>
            </div>
            <div class="column">
              <div>
                <div class="title is-size-3 m-b-lg has-text-centered">
                  {{ $t('node.roundProfile') }}
                </div>
                <div class="columns m-b-lg-touch is-multiline">
                  <div class="column has-text-centered is-half-tablet is-one-quarter-desktop">
                    <template v-if="totalRoundsParticipated">
                      <div class="title is-size-3 is-size-2-mobile" >
                        <animated-number :number="totalRoundsParticipated" :precision="0" />
                      </div>
                      <div class="subtitle is-size-4">
                        {{ $t('node.total') }}
                      </div>
                    </template>
                    <p class="has-text-danger" v-else>
                      {{ $t('error.notEnoughData') }}
                    </p>
                  </div>
                  <div class="column has-text-centered is-half-tablet p-t-none-mobile
                    is-one-quarter-desktop">
                    <template v-if="totalSuccessfulRounds">
                      <div class="title is-size-3 is-size-2-mobile has-text-success">
                        <animated-number :number="totalSuccessfulRounds" :precision="0" />
                      </div>
                      <div class="subtitle is-size-4 has-text-success">
                        {{ $t('node.success') }}
                      </div>
                    </template>
                    <p class="has-text-danger" v-else>
                      {{ $t('error.notEnoughData') }}
                    </p>
                  </div>
                  <div class="column has-text-centered is-half-tablet p-t-none-mobile
                    is-one-quarter-desktop">
                    <template v-if="totalTimedoutRounds">
                      <div class="title is-size-3 is-size-2-mobile  has-text-danger" >
                        <animated-number :number="totalTimedoutRounds" :precision="0" />
                      </div>
                      <div class="subtitle is-size-4 has-text-danger">
                        {{ $t('node.timedOut') }}
                      </div>
                    </template>
                    <p class="has-text-danger" v-else>
                      {{ $t('error.notEnoughData') }}
                    </p>
                  </div>
                  <div class="column has-text-centered is-half-tablet p-t-none-mobile
                    is-one-quarter-desktop">
                    <template v-if="totalRealtimeFailures">
                      <div class="title is-size-3 is-size-2-mobile  has-text-danger" >
                        <animated-number :number="totalRealtimeFailures" :precision="0" />
                      </div>
                      <div class="subtitle is-size-4 has-text-danger">
                        {{ $t('node.realtimeTimedOut') }}
                      </div>
                    </template>
                    <p class="has-text-danger" v-else>
                      {{ $t('error.notEnoughData') }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-vcentered">
            <div class="column is-half-tablet is-one-quarter-desktop has-text-centered">
              <div class="title is-size-4 m-b-md">
                {{ $t('node.roundSuccessRate') }}
              </div>
              <pie-chart
                v-if="hasDataInDatasets(roundSuccessData)"
                class="is-relative max-size-20"
                :chart-data="roundSuccessData"
              />
              <p class="has-text-danger has-text-centered" v-else>
                {{ $t('error.notEnoughDataGraph') }}
              </p>
            </div>
            <div class="column has-text-centered">
              <div class="title is-size-4 is-size-3-mobile m-b-md">
                {{ $t('node.precompAverageDuration') }}
              </div>
              <div class="title is-size-1" v-if="precompAvgSeconds">
                <animated-number suffix="s" :number="precompAvgSeconds" />
              </div>
              <p class="has-text-danger" v-else>
                {{ $t('error.notEnoughData') }}
              </p>
            </div>
            <div class="column has-text-centered">
              <div class="title is-size-4 is-size-3-mobile m-b-md">
                {{ $t('node.realtimeAverageDuration') }}
              </div>
              <div class=" title is-size-1" v-if="realtimeAvgSeconds">
                <animated-number suffix="s" :number="realtimeAvgSeconds" />
              </div>
              <p class="has-text-danger" v-else>
                {{ $t('error.notEnoughData') }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="widget m-t-lg" v-if="!$messengerMode">
        <div class="widget-header is-tertiary-light">
          <div class="widget-title">
            {{ $t('node.lastXRounds', { x: 100 })}}
          </div>
        </div>
        <div class="widget-content p-md-desktop p-l-lg-desktop p-r-lg-desktop p-sm-touch">
          <div class="scroll-container">
            <table
              v-if="rounds && rounds.length > 0"
              class="table rounds-table is-fullwidth is-narrow-vertical no-border is-striped"
            >
              <tbody>
                <tr v-for="{
                    id,
                    status,
                  } in rounds"
                  :key="id"
                >
                  <td>
                    <nuxt-link
                      :to="localePath({ name: 'rounds-id', params: { id }})"
                    >
                      {{ id }}
                    </nuxt-link>
                  </td>
                  <td
                    class="is-uppercase has-text-weight-bold"
                    :class="{
                      'has-text-success': status === 'success',
                      'has-text-danger': status === 'timeout'
                      }"
                  >
                    {{ status }}
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="m-t-sm" v-else>
              {{ $t('node.noParticipation') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pick from 'lodash.pick';
import sse from '@/mixins/sse';
import Socials from '@/components/Socials.vue';
import PieChart from '@/components/PieChart';
import Dropdown from '@/components/Dropdown.vue';
import AnimatedNumber from '@/components/AnimatedNumber.vue';

import { statusToClass, hasDataInDatasets } from '@/utils';

const WEEKLY = 'weekly';
const MONTHLY = 'monthly';

export default {
  mixins: [sse],
  title: 'Node View',
  data: () => ({
    title: 'Node View',
    node: {},
    rounds: [],
    metrics: [],
    selectedTimeframe: WEEKLY,
    month: '',
    week: '',
  }),
  methods: {
    hasDataInDatasets,
    selectTimeframe(t) {
      this.selectedTimeframe = t;
    },
    selectWeek(t) {
      this.week = t;
    },
    selectMonth(t) {
      this.month = t;
    },
  },
  computed: {
    WEEKLY: () => WEEKLY,
    MONTHLY: () => MONTHLY,
    locationBlurbItems() {
      return [this.node.location, this.node.geoBin, `ISP: ${this.node.whois || 'Error'}`]
        .filter((s) => !!s)
        .join(' | ');
    },
    selectedWeek() {
      const { availableWeeks: weeks } = this;
      return this.week || (weeks && weeks[0]);
    },
    selectedMonth() {
      const { availableMonths: months } = this;
      return this.month || (months && months[0]);
    },
    timeframes() {
      return [WEEKLY, MONTHLY];
    },
    availableMonths() {
      return this.node.monthlyMetrics
        ? this.node.monthlyMetrics
          .map(({ month }) => this.$options.filters.formatMonth(month))
        : [];
    },
    availableWeeks() {
      return this.node.weeklyMetrics
        ? this.node.weeklyMetrics
          .map(({ week }) => this.$options.filters.formatWeek(week))
        : [];
    },
    nodeMetrics() {
      let rate;
      if (this.selectedTimeframe === WEEKLY) {
        const data = this.node.weeklyMetrics.find(
          ({ week }) => this.$options.filters.formatWeek(week) === this.selectedWeek,
        );
        if (data) {
          rate = data;
        }
      } else if (this.selectedTimeframe === MONTHLY) {
        const data = this.node.monthlyMetrics.find(
          ({ month }) => this.$options.filters.formatMonth(month) === this.selectedMonth,
        );
        if (data) {
          rate = data;
        }
      }
      return rate || {};
    },
    uptimeData() {
      const { uptime: rawUptime } = this.nodeMetrics;
      const uptime = parseFloat(rawUptime).toFixed(2);
      const downtime = parseFloat(100 - uptime).toFixed(2);

      return {
        labels: [`${this.$t('node.offline')}: ${downtime}%`, `${this.$t('node.online')}: ${uptime}%`],
        datasets: [
          {
            backgroundColor: ['#fe7751', this.$messengerMode ? '#00CBE3' : '#037281'],
            data: rawUptime ? [downtime, uptime] : [],
          },
        ],
      };
    },
    roundSuccessData() {
      const {
        totalRoundsParticipated: total,
        totalPrecompRoundsFailed: precomp,
        totalRealtimeRoundsFailed: realtime,
        totalSuccessfulRounds: success,
        failureRate,
      } = this.nodeMetrics;

      const successful = ((parseFloat(success) / parseFloat(total)) * 100).toFixed(2);
      const precompTimeout = ((parseFloat(precomp) / parseFloat(total)) * 100).toFixed(2);
      const realtimeTimeout = ((parseFloat(realtime) / parseFloat(total)) * 100).toFixed(2);
      return {
        labels: [
          `Realtime Timeout: ${realtimeTimeout}%`,
          `Precomp Timeout: ${precompTimeout}%`,
          `Success: ${successful}%`,
        ],
        datasets: [
          {
            backgroundColor: ['#DC143C', '#fe7751', this.$messengerMode ? '#00CBE3' : '#037281'],
            data: failureRate ? [realtimeTimeout, precompTimeout, successful] : [],
          },
        ],
      };
    },
    precompAvgSeconds() {
      return this.nodeMetrics ? this.nodeMetrics.precompAvgSeconds : undefined;
    },
    realtimeAvgSeconds() {
      return this.nodeMetrics ? this.nodeMetrics.realtimeAvgSeconds : undefined;
    },
    totalRoundsParticipated() {
      return this.nodeMetrics ? this.nodeMetrics.totalRoundsParticipated : 0;
    },
    totalSuccessfulRounds() {
      return this.nodeMetrics ? this.nodeMetrics.totalSuccessfulRounds : 0;
    },
    totalPrecompFailures() {
      return this.nodeMetrics ? this.nodeMetrics.totalPrecompRoundsFailed : 0;
    },
    totalRealtimeFailures() {
      return this.nodeMetrics ? this.nodeMetrics.totalRealtimeRoundsFailed : 0;
    },
    totalTimedoutRounds() {
      return (this.totalRoundsParticipated - this.totalSuccessfulRounds) || 0;
    },
    socials() {
      const urlsMap = {
        email: (v) => `mailto:${v}`,
        twitter: (v) => `https://twitter.com/${v}`,
        discord: () => '',
        instagram: (v) => `https://www.instagram.com/${v}`,
        medium: (v) => `https://medium.com/@${v}`,
      };

      const toUrl = (key, val) => (urlsMap[key] ? urlsMap[key](val) : '');

      return Object.entries(pick(this.node, [
        'email',
        'twitter',
        'instagram',
        'medium',
      // eslint-disable-next-line no-unused-vars
      ])).filter(([_key, val]) => !!val)
        .map(([key, val]) => ({ url: toUrl(key, val), title: key, key }));
    },
  },
  components: {
    Socials,
    PieChart,
    Dropdown,
    AnimatedNumber,
  },
  async asyncData({ route, $dashboard, error }) {
    const { id } = route.params;

    const result = await $dashboard.findNode(id).catch(() => console.error(`Error finding node ${id}`));

    if (!result || !result.node) {
      return error({ statusCode: 404, message: 'Couldn\'t find that node' });
    }

    const node = {
      ...result.node, class: `has-text-${statusToClass(result.node.status)}`,
    };

    return {
      node,
      rounds: result.rounds,
      metrics: result.metrics,
    };
  },
  mounted() {
    this.$sse.addEventListener('round', ({ data }) => {
      const round = JSON.parse(data) || {};
      if (round.nodes.find(({ nodeId }) => this.node.id === nodeId)
        && !this.rounds.find(({ id }) => id === round.id)) {
        this.rounds.unshift(round);
      }
    });
  },
};
</script>
<style scoped lang="scss">
@import '@/assets/scss/widget.scss';

.scroll-container {
  @include tablet {
    max-height: 25.5rem;
    overflow: auto;
  }
}

.h-100vh {
  min-height: 100vh;
}
</style>
<style lang="scss">
@include mobile {
  .widget-controls {
    .button {
      font-size: 0.7rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.max-size-20 {
  max-width: 20rem;
  margin: 0 auto;
}
</style>
