<template>
  <div>
    <realtime-controls
      v-if="!$messengerMode"
      class="realtime-controls"
      :loading="$fetchState.pending"
      @refresh="$fetch"
    />
    <div class="loading p-xl" v-if="$fetchState.pending">
      <spinner size="md" />
    </div>
    <nodes-table v-else :nodes="nodes" />
  </div>
</template>
<script>
import sse from '@/mixins/sse';
import realtimeUpdates from '@/mixins/realtime_updates';
import NodesTable from '@/components/NodesTable.vue';
import Spinner from '@/components/Spinner.vue';

export default {
  mixins: [sse, realtimeUpdates],
  title: 'Nodes View',
  data: () => ({
    nodes: [],
  }),
  components: {
    NodesTable,
    Spinner,
  },
  async fetch() {
    const { nodes } = await this.$dashboard.getNodes();
    this.nodes = nodes;
  },
  mounted() {
    this.$sse.addEventListener('node_statuses_updated', ({ data }) => {
      const nodeStatuses = JSON.parse(data) || {};
      const update = () => {
        this.nodes = this.nodes.map((n) => ({
          ...n,
          status: nodeStatuses[n.id] || n.status,
        })).filter((n) => n.status !== 'defunct');
      };
      this.addUpdate(update);
    });
  },
};
</script>
