<template>
  <div class="m-t-lg widget">
    <div class="widget-header">
      <div class="widget-title">
        {{ $t('round.nodesWorldwide') }}
      </div>
    </div>
    <div class="widget-content">
      <div class="columns is-vcentered m-none is-reversed-mobile">
        <div class="column is-narrow p-b-lg">
          <ol class="p-l-xl-tablet p-lg has-text-weight-bold is-size-4
            has-text-centered-mobile">
            <li v-for="(n, index) in round.nodes" :key="n.id">
              <nuxt-link
                :to="localePath({
                  name: 'nodes-id',
                  params: { id: n.base64Url },
                })"
              >
                {{ n.id | shortHash }}
              </nuxt-link>
              <hr
                v-if="index !== round.nodes.length - 1"
                class="has-background-tertiary-light m-t-sm m-b-sm"
              />
            </li>
          </ol>
        </div>
        <div class="column p-md">
          <div class="map-container">
            <round-map :nodes="round.nodes" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RoundMap from '@/components/RoundMap.vue';

export default {
  components: {
    RoundMap,
  },
  props: ['round'],
};
</script>
<style scoped lang="scss">
.map-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;

  & > * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
</style>
