<template>
  <div class="widget-row m-t-lg">
    <div class="widget is-stretched">
      <div class="widget-header">
        <div class="widget-title">
          {{ $t('round.nodesInTheRound') }}
        </div>
      </div>
      <div class="widget-content is-tertiary-dark p-lg has-text-centered">
        <div class="is-size-2 title has-text-white">
          {{ $get(round, 'nodes.length') }}
        </div>
      </div>
    </div>
    <div class="widget is-stretched">
      <div class="widget-header is-tertiary-light">
        <div class="widget-title">
          {{ $t('round.precompDuration') }}
        </div>
      </div>
      <div class="widget-content p-lg has-text-centered">
        <div class="is-size-2 title">
          <span  v-if="round.precompDuration">
            {{ round.precompDuration | prettyS }}
          </span>
          <span v-else class="has-text-danger">
            {{ $t('round.error') }}
          </span>
        </div>
      </div>
    </div>
    <div class="widget is-stretched">
      <div class="widget-header is-tertiary-light">
        <div class="widget-title">
          {{ $t('round.realtimeDuration') }}
        </div>
      </div>
      <div class="widget-content p-lg has-text-centered">
        <div class="is-size-2 title">
          <span v-if="round.realtimeDuration">
            {{ round.realtimeDuration | prettyS }}
          </span>
          <span v-else class="has-text-danger">
            {{ $t('round.error') }}
          </span>
        </div>
      </div>
    </div>
    <div class="widget is-stretched">
      <div class="widget-header is-tertiary-light">
        <div class="widget-title">
          {{ $t('round.batchSize') }}
        </div>
      </div>
      <div class="widget-content p-lg has-text-centered">
        <div class="is-size-2 title">
          {{ round.batchSize }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['round'],
};
</script>
