@charset "utf-8";
@import 'variables';
@import 'fonts';

@import '~bulma-responsive-tables/bulma-responsive-tables';

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/helpers/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/grid/_all';
@import '~bulma/sass/elements/table';
@import '~bulma/sass/elements/title';

@import 'spacing';
@import 'fonts';
@import 'wrapper';
@import 'widget';
@import 'buttons';
@import 'dimmer';
@import 'dropdown-list';
@import 'flex';

@import '~bulma-switch';


@each $key, $color in $colors {
  $colorValue: nth($color, 1);
  $textValue: nth($color, 2);

  .switch[type=checkbox].is-#{$key}:checked+label::before,
  .switch[type=checkbox].is-#{$key}:checked+label:before {
    background: $colorValue;
  }
}

.title {
  color: $darker-text;
  font-family: Roboto;
  font-weight: 900;
}

.dashboard-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.clickable {
  cursor: pointer;

  &:hover, &:hover * {
    color: $link !important;
  }
}

.__nuxt-error-page a {
  color: $link !important;
}

.error {
  .title {
    margin-bottom: 0.5rem !important;
  }

  svg {
    fill: $tertiary-dark;
  }
}

@include touch {
  .has-text-tertiary-dark-touch {
    color: #037281 !important;
  }
}

.no-wrap {
  white-space: nowrap;
}
