$button-padding-vertical: 0;
$button-padding-horizontal: 2rem;

@import '~bulma/sass/elements/button';
.button {
  font-family: Roboto;
  font-weight: 900;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;

  &.is-medium {
    font-size: 1.5rem;
    height: 2.75rem;
  }

  &.is-large {
    height: 3.25rem;
    font-size: 2rem;
  }

  @include mini {
    width: 100%;
  }
}

.buttons {
  align-items: flex-start;

  .button {
    @include tablet {
      margin-bottom: 2rem !important;

      &:not(:last-child) {
        margin-right: 3rem !important;
      }
    }

    @include mobile {
      :not(:first-child) {
        margin-top: 2rem;
      }

      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  @include mobile {
    flex-direction: column;
  }

  @include mini {
    align-items: stretch;
  }
}
