
.dimmer {
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  background:#000;
  opacity:0;
  position: fixed; /* important to use fixed, not absolute */
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:5;

  &.active {
    pointer-events: all;
    opacity: 0.5;
  }
}

.above-dimmer {
  position: relative;
  z-index: 6;
}
