
.dropdown-list {
  transition: all 0.3s ease-in-out;
  background-color: $background;
  position: absolute;
  top: calc(100% + 2rem);
  left: 0;
  min-width: 36rem;
  z-index: 6;
  box-shadow: 0 6px 53px 1px rgba($darker, 0.25);
  max-height: 0;
  overflow: auto;

  &.align-right {
    left: unset;
    right: 0;
  }

  &.expanded {
    max-height: 16rem;
  }

  @include mobile {
    min-width: initial;
    width: 100%;
  }

  li {
    cursor: pointer;

    &:hover {
      color: $link;
    }

    &:first-child {
      margin-top: 0.5rem;
    }
    &:last-child {
      margin-bottom: 0.5rem;
    }

    padding: 0.5rem 2rem;
    line-height: 1.25;
    font-size: 1.25rem;
    color: $darker;

    &.active {
      color: $tertiary-dark;
      font-weight: 900;
    }

    & a.nuxt-link-exact-active {
      color: $tertiary-dark !important;
      font-weight: 900;
    }
  }
}
