@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/HelveticaNeueLTPro-Bd/font.woff2') format('woff2'), url('~assets/fonts/HelveticaNeueLTPro-Bd/font.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/HelveticaNeueLTPro-Md/font.woff2') format('woff2'), url('~assets/fonts/HelveticaNeueLTPro-Md/font.woff') format('woff');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/HelveticaNeueLTPro-Roman/font.woff2') format('woff2'), url('~assets/fonts/HelveticaNeueLTPro-Roman/font.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.has-text-weight-bolder {
  font-weight: 900;
}
