@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;900&display=swap');

$tertiary: #00CBE3;

.has-text-tertiary-dark {
  color: $tertiary !important;
}

.is-tertiary-light {
  background-color: lighten($tertiary, 50%) !important;
}

.is-tertiary-dark {
  background-color: $tertiary !important;
}

a, .has-text-success, .has-text-link {
  color: $tertiary !important;
}

.title, .widget-title {
  font-family: Mulish !important;
}

body, button, input, select, textarea {
  font-family: Mulish !important;
  font-weight: 500 !important;
}

.has-text-weight-bold {
  font-weight: 500 !important;
}
