$mini: 450px;
$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
    ('xxxl', 12)
);

$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue) !important;
    }

    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue) !important;
    }

    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }

        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }

        @include mobile {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-mobile {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-mobile {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-mobile {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-mobile {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include tablet {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-tablet {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-tablet {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-tablet {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-tablet {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include desktop {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-desktop {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-desktop {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-desktop {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-desktop {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include widescreen {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-widescreen {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-widescreen {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-widescreen {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-widescreen {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include tablet-only {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-tablet-only {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-tablet-only {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-tablet-only {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-tablet-only {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include desktop-only {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-desktop-only {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-desktop-only {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-desktop-only {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-desktop-only {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include widescreen-only {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-widescreen-only {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-widescreen-only {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-widescreen-only {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-widescreen-only {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include touch {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-touch {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-touch {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-touch {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-touch {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include until-widescreen {
            .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-until-widescreen {
                margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$marginKey}#{$separator}#{$sizeKey}-until-widescreen {
                margin: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-until-widescreen {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }

            .#{$paddingKey}#{$separator}#{$sizeKey}-until-widescreen {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }

        @include until-fullhd {
            .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey}-until-fullhd {
                padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
            }
            .#{$paddingKey}#{$separator}#{$sizeKey}-until-fullhd {
                padding: sizeValue($sizeKey, $sizeValue) !important;
            }
        }
    }
}

.w-0 {
  width: 0;
}

.m-0 {
  margin: 0;
}
