@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/initial-variables';

$primary: #008AAF;
$secondary: #3ad6fc;
$tertiary: #00bcce;
$tertiary-dark: #037281;
$tertiary-darker: #0c515b;
$tertiary-light: #E6F3F4;
$highlight: #f8dfd9;
$highlight-light: #fe7751;
$text: #808080;
$text-dark: #4A4A4A;
$light: $white;
$dark: #00001d;
$darker-text: lighten($black, 25%);
$link: $primary;
$title-weight: 500;
$title-weight: 500;
$body-background-color: $light;
$text-strong: darken($text, 20%);
$hr-background-color: $text;
$hr-margin: 1rem 0;
$hr-height: 1px;
$navbar-box-shadow-size: 0 2px 0 0;
$navbar-box-shadow-color: $grey;
$darker: $darker-text;
$navbar-height: 3rem;

$background: $light;
$navbar-bg-color: $black-ter;
$danger: $highlight-light;
$success: $tertiary-dark;

// input
$input-border-color: transparent;
$input-focus-box-shadow-size: 0;
$input-background-color: darken($background, 2%);
$input-focus-border-color: $primary;

// sidenav
$sidenav-width: 9rem;
$topnav-height: 6rem;
$topnav-height-touch: 3.25rem;
$nav-addon-height: 3.5rem;
$nav-addon-touch: 4rem;
$nav-addon-mini: 5rem;

$body-line-height: 1.75;

$family-sans-serif: "HelveticaNeue", BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import '~bulma/sass/utilities/derived-variables';

$extraColors: (
  "danger": ($danger, findColorInvert($danger)),
  "success": ($success, findColorInvert($success)),
  "darker": ($darker-text, findColorInvert($darker-text)),
  "secondary": ($secondary, $white),
  "tertiary": ($tertiary, $white),
  "tertiary-dark": ($tertiary-dark, $white),
  "tertiary-light": ($tertiary-light, $text),
  "highlight": ($highlight, $white),
  "highlight-light": ($highlight-light, $white),
);

$colors: map-merge($colors, $extraColors);

:export {
  tertiary: $tertiary;
  light-grey: $grey-light;
  danger: $danger;
  warning: $warning;
  success: $success;
  highlight-light: $highlight-light;
  tertiary-dark: $tertiary-dark;
};
