.widget.is-stretched {
  align-self: stretch;
  display: flex;
  flex-direction: column;

  &.h-100 {
    height: 100%;
  }

  .widget-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.widget-header {
  background-color: $darker;
  color: $white;
  padding: 0.5rem 1rem;
  .widget-title {
    line-height: 1.3;
    font-weight: 900;
    font-size: 1rem;
  }

  @each $key, $color in $colors {
    $colorValue: nth($color, 1);
    $textValue: nth($color, 2);
    &.is-#{$key} {
      background-color: $colorValue;
      color: $textValue;

      .widget-title {
        color: $textValue;
      }
    }
  }
}

.widget-subheader-section {
  color: $white;
  background-color: $tertiary-dark;
  font-weight: 900;
  text-align: center;
  padding: 2rem;

  .widget-subheader {
    font-size: 3rem;
    line-height: 1;
  }

  .widget-subheader-label {
    line-height: 1;
    margin-top: -0.2rem;
  }
}


.widget-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8rem;
  background-color: $background;

  @each $key, $color in $colors {
    $colorValue: nth($color, 1);
    $textValue: nth($color, 2);
    &.is-#{$key} {
      background-color: $colorValue;
      color: $textValue;
    }
  }
}

.widget-subtitle {
  font-weight: 900;
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.2;
}

.stretch-vertical, .widgets {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &.h-100 {
    height: 100%;
  }

  & > *:not(:first-child) {
    margin-top: 1.5rem;
  }

  .is-stretched {
    flex-grow: 1;
  }

  .widget:not(.fixed-height) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .widget-content {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }
  }

  &.horizontal-tablet-only {
    @include tablet-only {
      flex-direction: row;

      & > *:not(:first-child) {
        margin-top: 0;
        margin-left: 1.5rem;
        flex-grow: 1;
      }
    }
  }
}

.widget-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .widget {
    flex: 0 0 calc(25% - 1rem);

    @include touch {
      flex: 0 0 calc(50% - 1rem);
      margin-bottom: 1rem;
    }

    @include mobile {
      flex: 0 0 100%;
    }
  }
}
