.wrapper {
  max-width: $fullhd;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gap;
  padding-right: $gap;

  &.is-widescreen {
    max-width: $widescreen;
  }

  &.is-desktop {
    max-width: $desktop;
  };

  &.is-tablet {
    max-width: $tablet;
  }

  &.is-mobile {
    max-width: 30rem;
  }

  @include mobile {
    padding-left: $gap / 4;
    padding-right: $gap / 4;
  }
}
