<template>
  <span style="white-space:nowrap">
    {{prefix}}{{ animatedNumber }}{{suffix}}
  </span>
</template>
<script>
import { TweenLite } from 'gsap';

export default {
  props: {
    number: {
      default: 0,
    },
    precision: {
      default: 2,
    },
    prefix: {
      default: '',
    },
    suffix: {
      default: '',
    },
  },
  data: () => ({
    tweenedNumber: 0,
  }),
  methods: {
    tweenTo(newVal) {
      TweenLite.to(this.$data, { duration: 0.5, tweenedNumber: newVal });
    },
  },
  computed: {
    animatedNumber() {
      return this.tweenedNumber.toFixed(this.precision);
    },
  },
  watch: {
    number(newVal) {
      this.tweenTo(newVal);
    },
  },
  mounted() {
    this.tweenTo(this.number);
  },
};
</script>
