<template>
  <div class="dropdown"
    :class="{ 'is-active': expanded }"
  >
    <div class="dropdown-trigger"
      ref="trigger"
      @click.stop="toggleMenu"
    >
      <slot name="trigger">
        <button
          class="button is-tertiary-dark is-small"
          aria-haspopup="true"
          aria-controls="dropdown-menu2"
        >
          <span class="is-capitalized">
            {{ selected }}
          </span>
          &nbsp;&nbsp;
          <fa-icon icon="angle-down" />
        </button>
      </slot>
    </div>
    <div
      class="dropdown-menu"
      id="dropdown-menu2"
      role="menu"
      v-outside-click="closeMenu"
    >
      <div class="dropdown-content p-t-none">
        <div class="p-xs" v-if="enableSearch">
          <input
            class="input is-small"
            placeholder="Search..."
            v-model="search"
          />
        </div>
        <div class="scrollable-container">
          <div
            :key="item && (item.key || item)"
            class="dropdown-item clickable" v-for="item in filteredItems"
            @click="itemClicked(item)"
          >
            <slot name="item" v-bind:item="item">
              {{ item.content || item }}
            </slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import bus from '@/components/eventBus';

export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    enableSearch: {
      type: Boolean,
    },
    selected: {},
  },
  data: () => ({
    expanded: false,
    search: '',
  }),
  computed: {
    filteredItems() {
      const s = this.search.toLowerCase();
      const tokens = s.toLowerCase().split(' ');
      return this.items.filter(
        (item) => tokens.every((t) => (item.content || item).toString().toLowerCase().includes(t)),
      );
    },
  },
  methods: {
    toggleMenu() {
      this.expanded = !this.expanded;
      if (this.expanded) {
        // eslint-disable-next-line no-underscore-dangle
        bus.$emit('dropdown-opened', this._uid);
      }
    },
    closeMenu() {
      this.expanded = false;
    },
    itemClicked(item) {
      this.closeMenu();
      this.$emit('item-clicked', item);
    },
  },
  mounted() {
    bus.$on('dropdown-opened', (id) => {
      // eslint-disable-next-line no-underscore-dangle
      if (this._uid !== id) {
        this.closeMenu();
      }
    });
  },
};
</script>
<style scoped>
.dropdown-item:hover {
  background-color: #f5f5f5;
}

.input {
  text-align: right;
  padding-right: 0.5rem;
}

.input::placeholder {
  text-align: right;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.scrollable-container {
  max-height: 20rem;
  overflow-y: auto;
}

.dropdown-menu {
  min-width: 14rem;
}
</style>
