<template>
  <footer>
    <div class="top-nav">
      <ul class="footer-links m-l-md m-r-md">
        <li class="footer-link">
          <a
            class="underlined-link"
            id="nav-link-privacy"
            :href="xxNetworkPath('privacy-policy')"
          >
            {{ $t('nav.privacy') }}
          </a>
        </li>
        <li class="footer-link">
          <a
            class="underlined-link"
            id="nav-link-privacy"
            :href="xxNetworkPath('terms-of-use')"
          >
            {{ $t('nav.terms') }}
          </a>
        </li>
      </ul>
    </div>
  </footer>
</template>
<script>
export default {
  computed: {
    xxNetworkUrl: () => process.env.XX_NETWORK_URL,
  },
  methods: {
    xxNetworkPath(p) {
      return new URL(p, this.xxNetworkUrl).href;
    },
  },
};
</script>
<style lang="scss" scoped>
footer {
  background-color: $tertiary-darker;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  color: $white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .brand-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-link {
    a {
      color: $white;

      &:hover {
        color: $link;
      }
    }
    padding: 1.5rem;
  }
}

@include mobile {
  .footer-links {
    justify-content: center;
  }
}

.language-image {
  vertical-align: middle;
}

.disclaimer {
  font-size: 14px;
  text-align: right;
  @extend .p-l-md;
  @extend .p-r-md;
  @extend .p-b-md;
  @extend .m-t-md;
}

</style>
