<template>
  <div class="modal" :class="{ 'is-active': state !== state.CLOSED }" v-if="displayed">
    <div class="modal-content">
      <div class="box">
        <template v-if="state === states.INITIAL">
          <p class="content">
            {{ $t('gdpr.disclaimer') }}
          </p>
          <div class="has-text-right">
            <button @click="accept" class="button is-primary">
              {{ $t('gdpr.accept') }}
            </button>
            <button @click="state = states.PREFERENCES" class="button has-text-grey">
              {{ $t('gdpr.manage') }}
            </button>
          </div>
        </template>
        <template v-else-if="state === states.PREFERENCES">
          <div class="content">
            <div class="field">
              <input
                id="doNotTrack"
                type="checkbox"
                name="doNotTrack"
                class="switch is-danger"
                :checked="doNotTrack && 'checked'"
                @click="toggleDoNotTrack"
              >
              <label for="doNotTrack">
                {{ $t('gdpr.doNotTrack') }}
              </label>
            </div>
            <div class="field">
              <input
                class="is-checkradio"
                id="googleTracking"
                type="checkbox"
                name="googleTracking"
                :disabled="doNotTrack"
                @click="togglePreference('google')"
                :checked="!doNotTrack && preferences['google'] && 'checked'"
              >
              <label for="googleTracking">
                {{ `Google Analytics` }}
              </label>
            </div>
          </div>
          <div class="content has-text-danger m-t-md">
            {{ $t('gdpr.cookieAgeDisclaimer') }}
          </div>
          <div class="has-text-right">
            <button @click="done" class="button is-primary">
              {{ $t('gdpr.done') }}
            </button>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
<script>
const states = {
  INITIAL: 'INITIAL',
  PREFERENCES: 'PREFERENCES',
  CLOSED: 'CLOSED',
};

export default {
  data() {
    return {
      state: states.CLOSED,
      doNotTrack: !!this.$cookie.get('xx_do_not_track'),
    };
  },
  computed: {
    states: () => states,
    displayed() { return this.state !== states.CLOSED; },
    preferences() {
      return {
        google: this.$cookie.get('xx_google'),
      };
    },
  },
  watch: {
    doNotTrack() {
      this.$cookie.set('xx_do_not_track', !!this.doNotTrack, {
        maxAge: 31556952,
      });
    },
  },
  methods: {
    toggleDoNotTrack() {
      this.doNotTrack = !this.doNotTrack;
    },
    loadScripts() {
      if (this.$cookie.get('xx_google') && !this.$cookie.get('xx_do_not_track')) {
        this.$gtm.init(process.env.GOOGLE_TAG_ID);
      }
    },
    togglePreference(preference) {
      if (['google'].includes(preference)) {
        const current = this.$cookie.get(`xx_${preference}`);
        this.$cookie.set(`xx_${preference}`, !current, {
          maxAge: 31556952,
        });
      }
    },
    accept() {
      this.$cookie.set('xx_preferences_set', true, {
        maxAge: 31556952,
      });
      this.$cookie.set('xx_google', true, {
        maxAge: 31556952,
      });
      this.loadScripts();
      this.state = states.CLOSED;
    },
    done() {
      this.$cookie.set('xx_preferences_set', true, {
        maxAge: 31556952,
      });
      this.loadScripts();
      this.state = states.CLOSED;
    },
  },
  created() {
    if (!this.$cookie.get('xx_preferences_set') && !this.$cookie.get('xx_do_not_track')) {
      this.$cookie.set('xx_google', true, {
        maxAge: 31556952,
      });
    }
  },
  mounted() {
    if (!this.$cookie.get('xx_preferences_set')) {
      this.state = states.INITIAL;
    }
  },
};
</script>
<style lang="scss" scoped>
.button.has-text-grey:hover {
  color: darken($grey, 10%) !important;
}

.modal {
  justify-content: flex-start !important;
}

.modal-close {
  transition: all 0.1s ease-in;
  position: absolute;
  right: 5px;
  top: 5px;

  &::before, &::after {
    transition: all 0.1s ease-in;
    background-color: $grey;
  }
}

.box {
  transition: all 0.3s ease-in;
  position: relative;
  background-color:#fff;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
  color:#4a4a4a;
  display: block;
  padding: 1.25rem;
}

.modal-content {
  padding:0 2rem 2rem 2rem;
  width: 100%;
  max-width: $tablet;
  @include mobile {
    padding: 0;
    .box {
      border-radius: 0;
    }
  }
}
</style>
