<template>
  <div class="b-table">
    <div class="table-container table-wrapper has-mobile-cards p-b-lg">
      <template v-if="nodes.length > 0">
        <paginator
          class="m-t-tiny has-background-tertiary-light m-none m-t-none p-sm"
          :per-page="perPage" :total="nodes.length" v-model="page"  />
        <table class="table is-striped is-fullwidth is-narrow round-table m-t-md-mobile">
          <thead>
            <tr class="has-background-tertiary-light">
              <th
                class="clickable table-header"
                :class="sortKey === key && 'active'"
                v-for="{label, key} in labels"
                :key="key"
                @click="sortBy(key)"
              >
                <span>
                  {{ label }}
                </span>
                <span class="carets" :class="{ active: key === sortKey }">
                  <fa-icon
                    v-show="sortAsc && sortKey === key"
                    class="caret-up"
                    icon="caret-up"
                  />
                  <fa-icon
                    v-show="!sortAsc && sortKey === key"
                    class="caret-down"
                    icon="caret-down"
                  />
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="m-l-md-mobile m-r-md-mobile" v-for="node in paginated" :key="node.id">
              <td data-label="Name">{{ node.name }}</td>
              <td data-label="Id">
                <nuxt-link :to="localePath({
                  name: 'nodes-id',
                  params: { id: node.base64Url } })
                ">
                  {{ node.id | shortHash }}
                </nuxt-link>
              </td>
              <td data-label="Wallet Address" :title="node.walletAddress">
                <a
                  target="__blank"
                  rel="noopener noreferrer"
                  :href="$options.filters.toExplorerAddress(node.walletAddress)">
                  {{ node.walletAddress | shortHash }}
                </a>
              </td>
              <td
                 data-label="Status"
                :class="`has-text-${statusToClass(node.status)}`"
              >
                {{ node.status }}
              </td>
              <td data-label="Geographic Bin">{{ node.geoBin }}</td>
              <td data-label="Whois Data">{{ node.whois }}</td>
              <td data-label="Precomp Failure Avg">{{ node.precompFailureAvg }}{{ `%` }}</td>
              <td data-label="Realtime Failure Avg">{{ node.realtimeFailureAvg }}{{ `%` }}</td>
              <td data-label="Uptime">{{ node.uptime }}{{ `%` }}</td>
            </tr>
          </tbody>
        </table>
        <paginator class="m-t-md" :per-page="perPage" :total="nodes.length" v-model="page"  />
      </template>
      <p class="has-text-danger has-text-centered" v-else>
        {{ $t('error.notEnoughDataTable') }}
      </p>
    </div>
  </div>
</template>
<script>
import sortBy from 'lodash.sortby';
import { statusToClass } from '@/utils';
import Paginator from '@/components/Paginator.vue';

export default {
  props: {
    nodes: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    sortKey: 'uptime',
    sortAsc: false,
    page: 1,
    perPage: 50,
  }),
  computed: {
    predicate() {
      const found = this.labels.find(({ key }) => key === this.sortKey);
      return found && found.predicate;
    },
    labels: () => [{
      label: 'Name',
      key: 'name',
    }, {
      label: 'ID',
      key: 'id',
    }, {
      label: 'Wallet',
      key: 'walletAddress',
    }, {
      label: 'Status',
      key: 'status',
    }, {
      label: 'Bin',
      key: 'geoBin',
    }, {
      label: 'ISP',
      key: 'whois',
    }, {
      label: 'Precomp Failure Rate',
      key: 'precompFailureAvg',
      predicate: (x) => parseFloat(x),
    }, {
      label: 'Realtime Failure Rate',
      key: 'realtimeFailureAvg',
      predicate: (x) => parseFloat(x),
    }, {
      label: 'Percent Uptime',
      key: 'uptime',
      predicate: (x) => parseFloat(x),
    }],
    sorted() {
      let items = this.nodes.slice();
      const { predicate: p, sortKey: k } = this;
      if (p) {
        items = sortBy(items, (i) => p(i[k]));
      } else if (items.map((i) => i[k]).every((v) => typeof v === 'string')) {
        items.sort((a, b) => a[k].localeCompare(b[k]));
      } else {
        items = sortBy(items, k);
      }

      if (!this.sortAsc) {
        items.reverse();
      }
      return items;
    },
    paginated() {
      const index = this.page - 1;
      return this.sorted.slice(index * this.perPage, this.page * this.perPage);
    },
  },
  components: {
    Paginator,
  },
  methods: {
    statusToClass,
    sortBy(key) {
      if (this.sortKey === key) {
        this.sortAsc = !this.sortAsc;
      } else {
        this.sortAsc = true;
        this.sortKey = key;
      }
    },
  },
};
</script>
<style scoped lang="scss">
.m-t-tiny {
  margin-top: 2px;
  border-top: 1px solid white;
}

.table-header {
  position: relative;
  padding-right: 0.5rem !important;

  .carets {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    display: inline-block;
  }

  &:hover .carets, .carets.active, &.active {
    color: $link;
    opacity: 1;
  }
}
</style>
