<template>
  <div class="map-wrapper">
    <client-only>
      <l-map class="leaftlet-map" :zoom="1" :center="[45,8]">
        <l-tile-layer url="https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png" />
        <l-marker
          v-for="node in activeNodes"
          :key="node.id"
          :lat-lng="[node.lat, node.long]"
          :z-index-offset="1000"
          @click="$router.push(
              localePath({
                name: 'nodes-id',
                params: { id: node.base64Url }
              })
            )"
        >
          <l-icon
            :icon-size="[12, 12]"
            :icon-url="require('@/assets/img/icons/active_node_icon.svg')"
          />
          <l-tooltip
            :content="node.tooltipHtml"
          >
          </l-tooltip>
        </l-marker>
        <l-marker
          v-for="node in mapNodes"
          :key="node.id"
          :lat-lng="[node.lat, node.long]"
          @click="$router.push(
              localePath({
                name: 'nodes-id',
                params: { id: node.base64Url }
              })
            )"
        >
          <l-icon
            :icon-size="[12, 12]"
            :icon-url="require('@/assets/img/icons/node_icon.svg')"
          />
          <l-tooltip
            :content="node.tooltipHtml">
          </l-tooltip>
        </l-marker>
      </l-map>
    </client-only>
  </div>
</template>
<script>
import debounce from 'lodash.debounce';

export default {
  data: () => ({
    activeNodes: [],
  }),
  props: {
    latestRound: {
      type: Object,
      required: true,
    },
    nodes: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    latestRound(val) {
      this.updateActiveNodes(val);
    },
  },
  computed: {
    mapNodes() {
      return this.nodes.map(this.nodeMapper).filter((node) => node.lat && node.long);
    },
    arrowPattern() {
      return [
        {
          offset: '100%',
          repeat: 0,
          symbol: this.$L.Symbol
            .arrowHead({ pixelSize: 15, polygon: false, pathOptions: { stroke: true } }),
        },
      ];
    },
  },
  methods: {
    initMapBounds(count = 10) {
      this.$nextTick(() => {
        if (this.$refs.roundMap) {
          const latLngs = this.mapNodes.map(({ lat, long }) => [lat, long]);
          this.$refs.roundMap.mapObject.fitBounds(latLngs);
        } else if (count > 0) {
          this.initMapBounds(count - 1);
        }
      });
    },
    nodeMapper(n) {
      return {
        shortId: this.$options.filters.shortHash(n.id),
        base64Url: n.base64Url,
        ...this.extractCoords(n.gpsLocation),
        tooltipHtml: `
          <p>${n.name}</p>
          <p>
            ${this.$options.filters.shortHash(n.id)}
          </p>
          <p>Uptime: ${n.uptime}</p>
          <p>Failure Rate: ${n.roundFailureAvg}</p>
        `,
      };
    },
    updateActiveNodes(latestRound) {
      this.activeNodes = latestRound ? latestRound.nodes
        .map(({ id }) => this.nodes.find(({ id: nodeId }) => id === nodeId))
        .map(this.nodeMapper)
        .filter((node) => node.lat && node.long) : [];
    },
    extractCoords(gpsLocation) {
      const [lat, long] = gpsLocation ? gpsLocation.split(',').map(parseFloat) : [0, 0];
      return {
        lat,
        long,
      };
    },
  },
  created() {
    this.updateActiveNodes = debounce(this.updateActiveNodes, 100);
  },
  mounted() {
    if (process.client) {
      this.initMapBounds();
      window.addEventListener('resize', this.initMapBounds);
    }
  },
  destroyed() {
    window.removeEventListener('resize', this.initMapBounds);
  },
};
</script>
<style scoped>
.map-wrapper {
  height: 100%;
  width: 100%;
  min-height: 22rem;
  position: relative;
  z-index: 0;
}

.leaftlet-map {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
