<template>
  <div class="bar-chart-container flex flex-column justify-center">
    <bar-chart
      v-if="hasDataInDatasets(chartData)"
      :chart-data="chartData"
      :options="chartOptions"
    />
    <p class="has-text-danger has-text-centered" v-else>
      {{ $t('error.notEnoughDataGraph') }}
    </p>
  </div>
</template>
<script>
import uniq from 'lodash.uniq';
import sortBy from 'lodash.sortby';
import BarChart from '@/components/BarChart';
import styles from '@/assets/scss/variables.scss';
import { statusToClass, hasDataInDatasets } from '@/utils';

export default {
  props: {
    nodes: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    BarChart,
  },
  methods: { hasDataInDatasets },
  computed: {
    chartData() {
      return {
        labels: this.statusLabels,
        datasets: [{
          backgroundColor: this.colors,
          borderColor: false,
          label: 'Status',
          data: this.statusCounts,
        }],
      };
    },
    chartOptions() {
      return {
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Status',
            },
          }],
          yAxes: [{
            ticks: {
              suggestedMin: 0,
              stepSize: 20,
            },
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Onboarded Nodes',
            },
          }],
        },
      };
    },
    nodeStatuses() {
      const nodeStatuses = this.nodes.map(({ status }) => status);
      return uniq(nodeStatuses);
    },
    statusLabels() {
      return this.statuses.map(({ label, count }) => `${label} (${count})`);
    },
    statuses() {
      const objs = this.nodeStatuses.map(
        (status) => ({
          color: styles[statusToClass(status)] || styles['light-grey'],
          label: status,
          count: this.nodes.filter(({ status: s }) => status === s).length,
        }),
      );

      const sorted = sortBy(objs, 'count');
      return sorted.reverse();
    },
    statusCounts() {
      return this.statuses.map(({ count }) => count);
    },
    colors() {
      return this.statuses.map(({ color }) => color);
    },
  },
};
</script>
