<template>
  <nav
    class="pagination m-r-none m-l-none"
    role="navigation"
    aria-label="pagination"
  >
    <ul class="pagination-list">
      <li v-if="showFirstPageButton">
        <button
          @click="goPage(1)"
          :aria-label="`${goToText} 1`"
          class="pagination-link button is-outlined is-tertiary"
          :disabled="disablePagination"
        >
          {{ $t('paginator.first') }}
        </button>
      </li>
      <li v-if="pages[0] > 2">
        <span class="pagination-ellipsis">{{ `...` }}</span>
      </li>
      <li
        v-for="{ page, disabled } in pages"
        :key="page"
      >
        <button
          @click="goPage(page)"
          class="button pagination-link"
          :class="page === value ? 'is-link' : 'is-tertiary is-outlined'"
          :aria-label="`${page === value ? pageText : goToText} ${page}`"
          :aria-current="page === value ? 'page' : false"
          v-text="page"
          :disabled="disabled"
        />
      </li>
      <li v-if="pages[pages.length - 1] < totalPages">
        <span class="pagination-ellipsis">{{ `...` }}</span>
      </li>
      <li v-if="showLastPageButton">
        <button
          @click="goPage(totalPages)"
          :aria-label="`${goToText} ${totalPages}`"
          class="pagination-link button is-outlined is-tertiary"
          :disabled="disablePagination"
        >
          {{ $t('paginator.last') }}
        </button>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  name: 'Pagination',
  props: {
    value: {
      type: Number,
      default: 1,
      required: true,
    },
    total: {
      type: Number,
      default: 0,
      required: true,
    },
    perPage: {
      type: Number,
      default: 10,
      required: true,
    },
    maxPages: {
      type: Number,
      default: 7,
      validator: (value) => value > 4 && Math.abs(value % 2) === 1,
    },
    url: {
      type: String,
    },
    queryParameter: {
      type: String,
      default: 'page',
    },
    nextText: {
      type: String,
      default: 'Next',
    },
    previousText: {
      type: String,
      default: 'Previous',
    },
    goToText: {
      type: String,
      default: 'Goto page',
    },
    pageText: {
      type: String,
      default: 'Page',
    },
  },
  computed: {
    currentPage() {
      return this.value;
    },
    startPage() {
      let start;

      if (this.currentPage === 1) {
        start = 1;
      } else if (this.currentPage === this.totalPages) {
        start = Math.max(1, this.totalPages - this.maxPages);
      } else {
        start = this.currentPage - 1;
      }

      return start;
    },
    endPage() {
      return Math.min(this.startPage + this.maxPages, this.totalPages);
    },
    totalPages() {
      return Math.ceil(this.total / this.perPage);
    },
    buttonsTotal() {
      return this.totalPages > this.maxPages - 2 ? this.maxPages - 2 : this.totalPages;
    },
    disablePagination() {
      return !this.total || this.totalPages <= 1;
    },
    showFirstPageButton() {
      return this.pages[0] && this.pages[0].page > 1;
    },
    showLastPageButton() {
      return this.pages[this.pages.length - 1]
        && this.pages[this.pages.length - 1].page < this.totalPages;
    },
    pages() {
      const range = [];

      for (let i = this.startPage; i <= this.endPage; i += 1) {
        range.push({
          page: i,
          disabled: i === this.currentPage,
        });
      }

      return range;
    },
  },
  watch: {
    appliedTags() {
      this.goPage(1);
    },
  },
  methods: {
    goPage(page) {
      if (this.url) {
        this.$router.push({ name: this.url, query: { [this.queryParameter]: page } });
      }
      this.$emit('input', page);
    },
    previous() {
      if (this.currentPage > 1) {
        this.goPage(this.value - 1);
      }
    },
    next() {
      if (this.currentPage < this.totalPages) {
        this.goPage(this.currentPage + 1);
      }
    },
  },
};
</script>
<style scoped>
.button {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
</style>
