<template>
  <div class="round-config p-l-xl-desktop p-r-xl-desktop
    has-background-tertiary-light">
    <div class="field">
      <label class="config-label">
        {{ $t('controls.realtimeUpdates') }}
      </label>
      <input
        id="switchRoundedSuccess"
        type="checkbox"
        name="switchRoundedSuccess"
        class="switch is-rounded is-tertiary-dark"
        :checked="realtime && 'checked'"
        @input="toggleRealtime"
      >
      <label class="switch-label" for="switchRoundedSuccess"/>
      <dropdown
        class="is-right"
        :items="options"
        v-if="realtime"
        @item-clicked="setRealtimePeriod"
      >
        <template #trigger>
          <div class="center-vertically">
            <fa-icon
              :title="$t('controls.choose')"
              width="20"
              class="icon clickable m-b-xs"
              :class="period === 0 ? 'has-text-darker' : 'has-text-tertiary-dark'"
              icon="stopwatch"
            />
            <span class="m-t-sm m-b-xs m-l-xs" v-if="period !== 0">
              {{ remaining }}{{ `s` }}
            </span>
          </div>
        </template>
        <template #item="{ item: timeframe }">
          <span
            :class="{ 'is-link': timeframe === period }"
          >
            <span v-if="timeframe === 0">
              {{ $t('controls.realtime') }}
            </span>
            <span v-else>
              {{ $t('controls.updatesEveryX', { number: timeframe }) }}
            </span>
          </span>
        </template>
      </dropdown>
    </div>
    <div class="field" v-if="!realtime">
      <label class="config-label">
        {{ $t('controls.xRoundsSince', { number: roundsSinceLastRefresh }) }}
      </label>
    </div>
    <div class="field">
      <label class="config-label is-hidden-mini">
        {{ $t('controls.refresh') }}
      </label>
      <fa-icon
        width="20"
        class="icon has-text-tertiary-dark clickable"
        icon="sync-alt"
        :spin="loading"
        @click="refresh"
      />
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import Dropdown from '@/components/Dropdown.vue';

export default {
  components: {
    Dropdown,
  },
  props: ['loading'],
  computed: mapGetters({
    realtime: 'realtime/realtime',
    period: 'realtime/period',
    options: 'realtime/periodOptions',
    roundsSinceLastRefresh: 'realtime/roundsSinceLastRefresh',
    remaining: 'realtime/periodRemaining',
  }),
  methods: {
    setRealtimePeriod(period) {
      this.$store.commit('realtime/SET_REALTIME_PERIOD', period);
      this.$store.dispatch('realtime/COUNTDOWN');
    },
    toggleRealtime() {
      this.$store.dispatch('realtime/TOGGLE');
    },
    refresh() {
      this.$emit('refresh');
      this.$store.commit('realtime/RESET_ROUND_COUNT');
    },
  },
};
</script>
<style scoped lang="scss">
.center-vertically {
  display: flex;
  align-items: center;
}

.config-label {
  font-weight: 700;
  line-height: 1;
}

.round-config {
  border-top: solid 2px white;
  color: $darker;
  height: $nav-addon-height;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;

  @include mini {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include tablet {
    top:  $topnav-height;
    left: $sidenav-width;
    width: calc(100% - #{$sidenav-width});
  }

  @include touch {
    padding-left: 1rem;
    padding-right: 1rem;
    height: $nav-addon-touch;
    top: $topnav-height-touch;
  }

  @include mini {
    height: $nav-addon-mini;
  }

  .field {
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;

    & + .field {
      margin-left: 0.75rem;
    }
  }

  .switch-label {
    height: 1.5rem;
    padding-left: 3rem;
  }
}

.icon, .switch + label {
  margin-left: 0.75rem;
}
</style>
