<template>
  <div class="map-wrapper">
    <client-only>
      <l-map class="leaftlet-map" ref="roundMap" :zoom="1" :center="[45,8]">
        <l-tile-layer url="https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png" />
        <l-marker
          v-for="node in mapNodes"
          :key="node.id"
          :lat-lng="[node.lat, node.long]"
          :z-index-offset="1000"
          @click="$router.push(localePath({
            name: 'nodes-id',
            params: { id: node.base64Url },
          }))"
        >
          <l-icon
            :icon-size="[30, 30]"
            :icon-anchor="[15, 30]"
            :icon-url="require('@/assets/img/icons/node-pin.svg')"
          />
          <l-tooltip
            :class-name="'has-text-white has-background-darker'"
            :content="node.tooltipHtml"
            >
          </l-tooltip>
        </l-marker>
        <l-polyline-decorator :paths="arrowPaths" :patterns="arrowPattern" />
        <l-polyline color="#4a4a4a" :lat-lngs="latLngs" />
      </l-map>
    </client-only>
  </div>
</template>
<script>
export default {
  props: {
    nodes: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    latLngs() {
      const latLngs = this.mapNodes.map(({ lat, long }) => [lat, long]);
      latLngs.push(latLngs[0]); // loop back
      return latLngs;
    },
    arrowPaths() {
      return this.latLngs.reduce((acc, cur, index, arr) => {
        if (arr[index + 1]) {
          acc.push([cur, arr[index + 1]]);
        }
        return acc;
      }, []);
    },
    mapNodes() {
      return this.nodes.map(this.nodeMapper).filter((node) => node.lat && node.long);
    },
    arrowPattern() {
      return [
        {
          offset: '100%',
          repeat: 0,
          symbol: this.$L && this.$L.Symbol
            .arrowHead({
              pixelSize: 15,
              polygon: true,
              fill: true,
              pathOptions: {
                color: '#4a4a4a',
                fill: true,
                fillOpacity: 1,
                stroke: false,
                weight: 2,
              },
            }),
        },
      ];
    },
  },
  methods: {
    initMapBounds(count = 10) {
      this.$nextTick(() => {
        if (this.$refs.roundMap) {
          this.$refs.roundMap.mapObject.fitBounds(this.latLngs);
        } else if (count > 0) {
          this.initMapBounds(count - 1);
        }
      });
    },
    nodeMapper(n) {
      return {
        shortId: this.$options.filters.shortHash(n.id),
        base64Url: n.base64Url,
        ...this.extractCoords(n.gpsLocation),
        tooltipHtml: `
          <p>${n.name}</p>
          <p>
            ${this.$options.filters.shortHash(n.id)}
          </p>
          <p>Gps: ${n.gpsLocation}</p>
        `,
      };
    },
    extractCoords(gpsLocation) {
      const [lat, long] = gpsLocation ? gpsLocation.split(',').map(parseFloat) : [0, 0];
      return {
        lat,
        long,
      };
    },
  },
  mounted() {
    if (process.client) {
      window.addEventListener('resize', this.initMapBounds);
      this.initMapBounds();
    }
  },
  destroyed() {
    window.removeEventListener('resize', this.initMapBounds);
  },
};
</script>
<style scoped>
.map-wrapper {
  height: 100%;
  width: 100%;
  min-height: 22rem;
  position: relative;
  z-index: 0;
}

.leaftlet-map {
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
