<template>
  <div class="b-table">
    <div class="table-container table-wrapper has-mobile-cards">
      <table class="table is-striped is-fullwidth is-narrow round-table">
        <thead class="has-background-tertiary-light">
          <tr>
            <th>{{ $t('table.roundId') }}</th>
            <th class="has-text-link">
              {{ $t('table.completionTime') }}
              <fa-icon
                width="10"
                class="caret-down"
                icon="caret-down" />
            </th>
            <th>{{ $t('table.status') }}</th>
            <th>{{ $t('table.realtimeDuration') }}</th>
            <th>{{ $t('table.batchSize') }}</th>
            <th>{{ $t('table.precompStart') }}</th>
            <th>{{ $t('table.precompEnd') }}</th>
            <th>{{ $t('table.realtimeStart') }}</th>
            <th>{{ $t('table.realtimeEnd') }}</th>
            <th>{{ $t('table.roundEnd') }}</th>
            <th v-for="(_, index) in maxNodeIterable" :key="index">
              {{ $t('table.nodeOrdinal', { ordinal: ordinal(index + 1) }) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="round in rounds" :key="round.id">
            <td data-label="Round ID">
              <nuxt-link :to="localePath({
                name: 'rounds-id',
                params: { id: round.id } })
              ">
                {{ round.id }}
              </nuxt-link>
            </td>
            <td data-label="Completion Time">{{ round.roundEnd | formatDate }}</td>
            <td data-label="Status" class="is-uppercase" :class="{
              'has-text-success': round.status === 'success',
              'has-text-danger': round.status === 'timeout',
            }">
              {{ round.status }}
            </td>
            <td data-label="Realtime Duration">{{ round.realtimeDuration | prettyS }}</td>
            <td data-label="Batch Size">{{ round.batchSize }}</td>
            <td data-label="Precomputation Start Time">{{ round.precompStart | formatDate }}</td>
            <td data-label="Precomputation End Time">{{ round.precompEnd | formatDate }}</td>
            <td data-label="RealTime Start Time">{{ round.realtimeStart | formatDate }}</td>
            <td data-label="RealTime End Time">{{ round.realtimeEnd | formatDate }}</td>
            <td data-label="Round End Time">{{ round.roundEnd | formatDate }}</td>
            <td
              :data-label="`${ordinal(index + 1)} Node`"
              v-for="(n, index) in coalesceNodesWithNulls(round.nodes)"
              :key="index"
            >
              <nuxt-link
                v-if="n"
                :to="localePath({
                  name: 'nodes-id',
                  params: { id: n.base64Url } })
                "
              >
                {{ n.id | shortHash }}
              </nuxt-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import ordinal from 'ordinal';

export default {
  props: {
    rounds: {
      default: () => [],
    },
  },
  watch: {
    page() {
      this.$fetch();
    },
  },
  data: () => ({
    total: 0,
    perPage: 50,
    page: 1,
  }),
  methods: {
    ordinal,
    coalesceNodesWithNulls(nodes = []) {
      return this.maxNodeIterable.map((_, index) => nodes[index] || null) || [];
    },
  },
  computed: {
    maxNodeIterable() {
      const max = Math.max(
        ...this.rounds.map(({ nodes }) => nodes && nodes.length),
      );
      const m = Number.isFinite(max) ? max : 0;
      return [...new Array(m)];
    },
  },
};
</script>
