<template>
  <form class="search-bar is-relative" ref="searchForm"  @submit.prevent="handleFormSubmit">
    <div class="dimmer" :class="dimmed && 'active'" @click="dimmed = false" />
    <div class="field is-fullwidth has-addons has-addons-centered is-rounded
      above-dimmer m-b-none">
      <div class="control input-control">
        <input
          @click="dimmed = true"
          class="input is-rounded"
          type="search"
          :placeholder="isTouch ? $title : $t('search.placeholder')"
          v-model="search"
          required
        />
      </div>
      <div class="control">
        <button
          type="submit"
          class="button is-tertiary-dark input-add-on-button is-rounded"
        >
          <fa-icon
            class="has-text-tertiary-dark-touch"
            width="16"
            :icon="searchState === 'loading' ? 'spinner' : 'search'"
            :spin="searchState === 'loading'"
          />
        </button>
      </div>
    </div>
    <div
      v-show="expanded && dimmed && searchState"
      class="dropdown-list align-right p-md above-dimmer"
      :class="{ expanded }"
    >
      <ul v-if="searchState === 'success'">
        <li v-for="{ type, id, label } in searchItems" :key="id">
          <nuxt-link
            class="has-text-weight-bolder"
            :to="localePath({
              name: type === 'round' ? 'rounds-id' : 'nodes-id',
              params: { id: type === 'round' ? id : idToUrl(id) },
            })"
          >
            <span class="is-capitalized">{{ type }}{{`:`}}</span> {{ label }}
          </nuxt-link>
        </li>
      </ul>
      <p v-else-if="searchState === 'loading'" class="has-text-tertiary has-text-centered">
        {{ $t('search.loading') }}
      </p>
      <p v-else-if="searchState === 'error'" class="has-text-danger has-text-centered">
        {{ $t('error.general') }}
      </p>
      <p v-else-if="searchState === 'not-found'" class="has-text-danger has-text-centered">
        {{ $t('search.notFound') }}
      </p>
    </div>
  </form>
</template>
<script>
import { escapeBase64 } from '@/utils';
import responsive from '@/mixins/responsive';

export default {
  mixins: [responsive],
  watch: {
    search() {
      this.searchState = '';
    },
  },
  data: () => ({
    search: '',
    dimmed: false,
    searchItems: [],
    expanded: false,
    searchState: '',
  }),
  methods: {
    idToUrl: escapeBase64,
    async searchNodesAndRounds() {
      this.dimmed = true;
      this.expanded = true;
      this.searchState = 'loading';

      const id = this.search.trim();

      let result;
      try {
        result = await this.$dashboard.search(id);
      } catch (e) {
        this.searchState = 'error';
      }

      const { nodes, rounds } = result;

      if (!nodes && !rounds) {
        this.searchState = 'not-found';
      } else {
        this.searchItems = [];
        if (Array.isArray(rounds)) {
          rounds.forEach((round) => {
            this.searchItems.push({
              type: 'round',
              id: round.id,
              label: round.id,
            });
          });
        }

        if (Array.isArray(nodes)) {
          nodes.forEach((node) => {
            this.searchItems.push({
              type: 'node',
              id: node.base64Url,
              label: node.name || this.$options.filters.shortHash(node.id),
            });
          });
        }
        this.searchState = 'success';
      }
    },
    handleFormSubmit() {
      if (!this.$refs.searchForm.checkValidity() || this.searchState === 'loading') {
        return;
      }
      this.searchNodesAndRounds();
    },
  },
};
</script>
<style scoped lang="scss">
@include touch {
  .field {
    height: 3.25rem;

    .input-control {
      width: 100%;
    }

    input, .button.is-rounded {
      height: 100%;
      border-radius: 0;
      background-color: $tertiary-light;
    }

    .input {
      padding-left: 2rem;

      @include mobile {
        padding-left: 3.25rem;
      }

      &:active {
        background-color: $tertiary-light;
      }

      &::placeholder {
        font-family: Roboto;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    .button {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .search-bar {
    width: 100%;
  }
}

.dropdown-list {
  top: $topnav-height-touch;
  background-color: lighten($tertiary-light, 5%);
  @include touch {
    width: 100%;
  }
}

.input, .input:active {
  min-width: 16rem;
  border: none;
  box-shadow: none;
  background-color: darken($tertiary-light, 8%);
}
</style>
