<template>
  <nav
    class="sidenav"
    :class="{ expanded }"
    v-outside-click.stop="closeMenu"
  >
    <a
      role="button"
      class="navbar-burger is-hidden-tablet"
      :class="{ 'is-active': expanded }"
      aria-label="menu"
      :aria-expanded="expanded"
      @click="expanded = !expanded"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <nuxt-link
      :to="localePath('index')"
      @click.native="closeMenu"
      class="custom-nav-item exact-active"
    >
      <img class="nav-logo" src="@/assets/img/icons/icon_home.svg" width="26" />
      <span class="nav-label">{{ $t('nav.quickView') }}</span>
    </nuxt-link>
    <nuxt-link
      @click.native="closeMenu"
      :to="localePath('rounds')"
      class="custom-nav-item"
    >
      <img class="nav-logo" src="@/assets/img/icons/icon_rounds.svg" width="26" />
      <span class="nav-label">{{ $t('nav.roundsView') }}</span>
    </nuxt-link>
    <nuxt-link
      @click.native="closeMenu"
      :to="localePath('nodes')"
      class="custom-nav-item"
    >
      <img class="nav-logo" src="@/assets/img/icons/icon_node.svg" width="26" />
      <span class="nav-label">{{ $t('nav.nodesView') }}</span>
    </nuxt-link>
  </nav>
</template>
<script>
import path from 'path';

export default {
  data: () => ({
    expanded: false,
  }),
  computed: {
    xxNetworkUrl: () => process.env.BASE_URL,
  },
  methods: {
    xxNetworkPath(p) {
      return path.join(this.xxNetworkUrl, p);
    },
    closeMenu() {
      if (this.expanded) {
        this.expanded = false;
      }
    },
  },
};
</script>
<style scoped lang="scss">
.side-nav {
  background-color: $tertiary-dark;
  transition: all 0.3s ease-in;
  position: fixed;
  z-index: 3;
  height: 100%;
  width: $sidenav-width;
  top: 0;
  left: 0;

  @include mobile {
    padding-top: 3.25rem;
    left: -$sidenav-width;

    &.expanded {
      left: 0;
    }
  }
}

.navbar-burger {
  position: fixed;
  left: 0;
  top: 0;

  &.is-active span {
    transition: all 0.3s ease-in;
    background-color: white;
  }
}

.custom-nav-item {
  transition: all 0.3s ease-in;
  padding: 1rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.nuxt-link-active:not(.exact-active), &:hover, &.nuxt-link-exact-active {
    background-color: $tertiary-darker;
  }

  .nav-label {
    margin-top: 0.5rem;
    font-weight: 900;
    font-size: 1rem;
    color: white;
  }
}
</style>
