<template>
  <div class="social-links p-t-md p-b-md" :class="{ vertical, [size]: size }">
    <a
      v-for="(social) in socials"
      :key="social.url"
      class="social-link"
      :href="social.url"
      target="_blank"
      rel="noopener noreferrer"
      :title="social.title"
    >
      <img
        class="social-logo"
        svg-inline
        :src="social.logo || require(`@/assets/img/logos/${social.key}.svg`)"
      />
    </a>
  </div>
</template>
<script>
export default {
  props: {
    vertical: {
      type: Boolean,
    },
    size: {
      type: String,
    },
    socials: {
      type: Array,
    },
  },
};
</script>
<style  lang="scss" scoped>
$logo-size: 1.5rem;
$logo-size-md: 2rem;
$logo-size-lg: 2.5rem;

.social-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  &.vertical {
    flex-direction: column;
  }

  .social-link {
    & + .social-link {
      margin-left: 1rem;
    }
    text-align: center;
    width: $logo-size;
    height: $logo-size;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .social-logo {
      max-width: $logo-size;
      min-width: $logo-size;
      max-height: $logo-size;
      min-height: $logo-size;
    }
  }

  &.md {
    @include mobile {
      max-width: ($logo-size-md + 2rem) * 4;
    }
    .social-link {
      width: $logo-size-md;
      height: $logo-size-md;

      .social-logo {
        max-width: $logo-size-md;
        min-width: $logo-size-md;
        max-height: $logo-size-md;
        min-height: $logo-size-md;
      }
    }
  }

  &.lg {
    @include mobile {
      max-width: ($logo-size-lg + 2rem) * 4;
    }
    .social-link {
      width: $logo-size-lg;
      height: $logo-size-lg;

      .social-logo {
        max-width: $logo-size-lg;
        min-width: $logo-size-lg;
        max-height: $logo-size-lg;
        min-height: $logo-size-lg;
      }
    }
  }
}
</style>
