<template>
  <div class="img-container spinner" :class="{ primary: primaryVariant, [size]: size }">
    <img
      svg-inline
      src="@/assets/img/logos/xx-logo.svg"
    />
  </div>
</template>
<script>
export default {
  props: {
    size: String,
    primaryVariant: Boolean,
  },
};
</script>
<style lang="scss">
$light-color: darken($tertiary-light, 5%);
$dark-color: $tertiary-dark;
$speed: 3s;

.spinner {
  &.img-container {
    text-align: center;
  }

  &.sm svg {
    width: 30px;
  }

  &.md svg {
    width: 90px;
  }

  &.lg svg {
    width: 135px;
  }

  .stroke-1, .stroke-2, .stroke-3 {
    animation-duration: 1.5s;
    animation-name: draw;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    fill: $light-color;
  }

  &.primary .stroke-1, &.primary .stroke-2, &.primary .stroke-3 {
    animation-name: draw-variant;
    fill: $primary;
  }

  .stroke-1 {
    animation-delay: 0.5s;
  }
  .stroke-3 {
    animation-delay: 1s;
  }

  @keyframes draw {
    from {
      fill: $light-color;;
    }

    33% {
      fill: $dark-color;
    }

    66% {
      fill: $light-color;;
    }

    to {
      fill: $light-color;;
    }
  }

  @keyframes draw-variant {
    from {
      fill: $primary;
    }

    33% {
      fill: $dark-color;
    }

    66% {
      fill: $primary;
    }

    to {
      fill: $primary;
    }
  }
}

</style>
