<template>
  <nav
    class="top-nav has-background-tertiary-light p-l-xxl-tablet"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="dashboard-nav p-md-desktop p-l-xl-desktop p-r-xl-desktop">
      <div class="titles is-hidden-touch">
        <div class="title m-none is-size-3">
          {{ $title.split(' ')[0] }}
          <span class="has-font-weight-light">
            {{ $title.split(' ').slice(1).join(' ') }}
          </span>
        </div>
        <div class="title m-none is-size-5 is-muted">
          xx network <a :href="xxNetworkPath('/nodes')">mainnet</a>
        </div>
      </div>
      <search-bar />
    </div>
  </nav>
</template>
<script>
import SearchBar from '@/components/SearchBar.vue';

export default {
  data() {
    return {
      expanded: false,
    };
  },
  watch: {
    $route() {
      this.expanded = false;
    },
  },
  computed: {
    xxNetworkUrl: () => process.env.XX_NETWORK_URL,
  },
  methods: {
    xxNetworkPath(p) {
      return new URL(p, this.xxNetworkUrl).href;
    },
    closeMenu() {
      if (this.expanded) {
        this.expanded = false;
      }
    },
  },
  components: {
    SearchBar,
  },
};
</script>
<style scoped lang="scss">
.top-nav {
  @include desktop {
    height: $topnav-height !important;
  }

  @include touch {
    height: $topnav-height-touch !important;
  }

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
}

.has-font-weight-light {
  font-weight: 400;
}
</style>
