<template>
  <div>
    <div class="main-layout has-background-white-ter" :class="{ 'messenger-mode': $messengerMode }">
      <side-nav class="side-nav"
         v-if="!$messengerMode"
        :class="{ expanded }"
        @toggle-nav="(expand) => expanded = expand"
      />
      <div class="main-container" >
        <top-nav class="top-nav" v-if="!$messengerMode" />
        <nuxt class="page-body" />
      </div>
    </div>
    <footer-nav v-if="!$messengerMode" class="footer-nav" />
    <cookie-control v-if="!$messengerMode" class="cookie" />
  </div>
</template>
<script>
import SideNav from '@/components/SideNav.vue';
import TopNav from '@/components/TopNav.vue';
import FooterNav from '@/components/Footer.vue';
import CookieControl from '@/components/GDPRModal.vue';
import { pathToSiteURL } from '@/utils';
import { environments } from '@/config';

export default {
  data() {
    return {
      expanded: false,
    };
  },
  head() {
    return {
      meta: [
        {
          hid: 'og:url',
          property: 'og:url',
          // content: pathToSiteURL(this.$nuxt.$route.path),
        },
        {
          hid: 'og:title',
          property: 'og:title',
          // content: this.seo.title || this.$t('seo.title'),
        },
        {
          hid: 'og:image',
          property: 'og:image',
          // content: this.seo.ogImage || pathToSiteURL('/logo.png'),
        },
        {
          hid: 'description',
          property: 'description',
          // content: this.seo.description || this.$t('seo.description'),
        },
        {
          hid: 'keywords',
          property: 'keywords',
          // content: this.seo.keywords || this.$t('seo.keywords'),
        },
        {
          hid: 'og:description',
          property: 'og:description',
          // content: this.seo.ogDescription || this.$t('seo.description'),
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'website',
        },
      ],
      link: [
        {
          rel: 'canonical',
          href: pathToSiteURL(this.$route.fullPath, environments.production.BASE_URL),
        },
      ],
    };
  },
  components: {
    TopNav,
    SideNav,
    FooterNav,
    CookieControl,
  },
};
</script>
<style scoped lang="scss">
.main-layout {
  min-height: 100vh;
}

.main-container, .top-nav {
  padding-left: $sidenav-width;

  @include mobile {
    padding-left: 0;
  }
}

.footer-nav {
  position: relative;
  z-index: 3;
  padding: 1rem;
}

.page-body {
  position: relative;
  z-index: 0;

  @include mobile {
    padding-top: 7.75rem;
  }

  @include tablet-only {
    padding-top:  7.25rem;
  }

  @include desktop {
    padding-top: 9.5rem;;
  }

  width: 100%;
}
</style>
<style>
.adjust-top-margin {
  margin-top: -4rem;
}

.messenger-mode .adjust-top-margin {
  margin-top: 0;
}

.messenger-mode .page-body {
  padding-top: 0.75rem;
}

.messenger-mode .main-container {
  padding-left: 0;
}
</style>
