<template>
  <div>
    <top-nav v-if="!$messengerMode" class="top-nav" />
    <realtime-controls
      v-if="!$messengerMode"
      class="realtime-controls"
      :loading="$fetchState.pending"
      @refresh="$fetch"
    />
    <div class="wrapper p-md">
      <div class="columns is-reversed-touch is-desktop">
        <div class="column is-half-desktop">
          <div class="columns">
            <div class="column widget">
              <div class="widget-header">
                <div class="widget-title" title="">
                  {{ $t('home.mTPS') }}
                </div>
              </div>
              <div
                class="widget-content is-tertiary-dark p-md has-text-centered"
              >
                <div class="title has-text-white is-size-2 m-b-none">
                  {{ network.meanTps | toFixed }}
                </div>
                <div class="widget-subtitle">
                  {{ $t('home.meanTPS') }}
                </div>
              </div>
            </div>
            <div class="column widget">
              <div class="widget-header">
                <div class="widget-title">
                  {{ $t('home.latency') }}
                </div>
              </div>
              <div
                class="widget-content is-tertiary-dark p-md has-text-centered"
              >
                <div class="title has-text-white is-size-2 m-b-none">
                  {{ network.meanLatency | toFixed }}
                </div>
                <div class="widget-subtitle">
                  {{ $t('home.meanLatency') }}
                </div>
              </div>
            </div>
          </div>
          <div class="columns m-t-md">
            <div class="column widgets">
              <div class="widget">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                  {{ $t('home.totalRounds') }}
                  </div>
                </div>
                <div class="widget-content p-md has-text-centered">
                  <template v-if="successfulRoundsTotal">
                    <div class="is-size-2 title">
                      {{ successfulRoundsTotal | toMils }}
                    </div>
                  </template>
                </div>
              </div>
              <div class="widget">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                    {{ $t('home.avgThroughput') }}
                  </div>
                </div>
                <div class="widget-content p-md has-text-centered">
                  <div class="is-size-2 title">
                    {{ network.meanTps * 60 * 60 | txToBytes }}
                  </div>
                </div>
              </div>
              <div class="widget">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                    {{ $t('home.totalThroughput') }}
                  </div>
                </div>
                <div class="widget-content p-md has-text-centered">
                  <div class="is-size-2 title">
                    {{ network.meanTps * 60 * 60 * 24 | txToBytes }}
                  </div>
                </div>
              </div>
              <div v-if="network.successRate" class="widget is-stretched m-t-md">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                    {{ $t('home.successRate') }}
                  </div>
                </div>
                <div class="widget-content p-lg has-text-centered">
                  <div class="is-size-2 title no-wrap">
                    {{ network.successRate }}{{ `%` }}
                  </div>
                </div>
              </div>
              <div v-if="network.realtimeSuccessRate" class="widget is-stretched m-t-md">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                    {{ $t('home.realtimeSuccessRate') }}
                  </div>
                </div>
                <div class="widget-content p-lg has-text-centered">
                  <div class="is-size-2 title no-wrap">
                    {{ network.realtimeSuccessRate }}{{ `%` }}
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="widget is-stretched h-100">
                <div class="widget-header is-tertiary-light">
                  <div class="widget-title">
                    {{ $t('home.completionTime') }}
                  </div>
                </div>
                <div class="widget-content p-md-desktop p-sm-touch">
                  <div class="loading p-xl" v-if="$fetchState.pending" >
                    <spinner size="sm" />
                  </div>
                  <table
                    v-else
                    class="table is-narrow is-fullwidth is-bordered
                      is-narrow-vertical"
                  >
                    <thead>
                      <tr>
                        <th>
                          {{ $t('home.roundNumber') }}
                        </th>
                        <th>
                          {{ $t('home.completionTimeUtc') }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="{ id, roundEnd } in rounds.slice(0, 20)" :key="id">
                        <td>
                          <nuxt-link
                            :to="localePath({ name: 'rounds-id', params: { id }})"
                          >
                            {{ id }}
                          </nuxt-link>
                        </td>
                        <td class="no-wrap" :title="roundEnd | formatDate">
                          {{ roundEnd | formatDate('HH:mm:ss') }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half-desktop">
          <div class="widgets h-100">
            <div class="widget is-stretched">
              <div class="widget-header">
                <div class="widget-title">
                  {{ $t('home.nodesWorldwide') }}
                </div>
              </div>
              <div class="widget-content p-md" >
                <div class="loading p-xl" v-if="$fetchState.pending" >
                  <spinner size="md" />
                </div>
                <template v-else>
                  <node-map :nodes="nodes" :latestRound="latestRound" />
                  <div class="has-text-centered title is-size-4 m-t-lg" v-if="realtime">
                    <span class="legend is-highlight-light" />
                  {{ $t('home.latestRound') }}
                  </div>
                </template>
              </div>
            </div>
            <div class="widget is-stretched m-t-lg">
              <div class="widget-header">
                <div class="widget-title">
                  {{ $t('home.mTPS24hr') }}
                </div>
              </div>
              <div class="widget-content p-md">
                <div class="loading p-xl" v-if="$fetchState.pending" >
                  <spinner size="md" />
                </div>
                <line-chart
                    v-else
                  :chart-data="tpsData"
                  :options="tpsOptions"
                  style="position:relative; width: 100%;"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget">
        <div class="widget-header is-tertiary-light">
          <div class="widget-title">
            {{ $t('home.performance') }}
          </div>
        </div>
        <div class="widget-content p-md">
          <div class="columns is-desktop">
            <div class="column">
              <div class="loading p-xl" v-if="$fetchState.pending" >
                <spinner size="md" />
              </div>
              <template v-else>
                <bar-chart
                  class="is-relative"
                  :chart-data="roundLengthData"
                  :options="roundLengthOptions"
                />
                <div class="title is-size-5 m-t-md p-l-lg p-r-lg has-text-centered-touch">
                  <span class="legend is-tertiary-dark" />
                  {{ $t('home.precompTime') }}
                  <br class="is-hidden-touch" />
                  <span class="no-wrap">
                    <span class="m-l-lg-touch legend is-tertiary m-t-md" />
                    {{ $t('home.realtime') }}
                  </span>
                </div>
              </template>
            </div>
            <div class="column">
              <table class="table is-fullwidth is-narrow-vertical is-bordered">
                <thead>
                  <tr>
                    <th>
                      {{ $t('home.roundNumber') }}
                    </th>
                    <th>
                      {{ $t('home.precompDuration') }}
                    </th>
                    <th>
                      {{ $t('home.realtimeDuration') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="{
                      status,
                      id,
                      precompDuration: pre,
                      realtimeDuration: real
                    } in rounds.slice(0, 10)"
                    :key="id"
                  >
                    <td>
                      <nuxt-link
                        :to="localePath({ name: 'rounds-id', params: { id }})"
                      >
                        {{ id }}
                      </nuxt-link>
                    </td>
                    <template v-if="status === 'timeout'">
                      <td class="is-uppercase has-text-danger" colspan="2">
                        {{ status }}
                      </td>
                    </template>
                    <template v-else>
                      <td>{{ pre | prettyS }}</td>
                      <td>{{ real | prettyS }}</td>
                    </template>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-desktop m-t-lg p-b-md">
        <div class="column is-narrow">
          <div class="widget is-stretched">
            <div class="widget-header is-tertiary-light">
              <div class="widget-title">
                {{ $t('home.activeValidators') }}
              </div>
            </div>
            <div class="widget-content p-lg has-text-centered flex flex-column">
              <div class="is-size-3 title">
                {{ `${network.activeNodeCount}/${network.totalNodeCount}` }}
              </div>
            </div>
          </div>
          <div class="widget is-stretched m-t-md">
            <div class="widget-header is-tertiary-light">
              <div class="widget-title">
                {{ $t('home.minServerVersion') }}
              </div>
            </div>
            <div class="widget-content p-lg has-text-centered">
              <div class="is-size-2 title">
                {{ network.serverVersion }}
              </div>
            </div>
          </div>
          <div class="widget is-stretched m-t-md">
            <div class="widget-header is-tertiary-light">
              <div class="widget-title">
                {{ $t('home.minGatewayVersion') }}
              </div>
            </div>
            <div class="widget-content p-lg has-text-centered">
              <div class="is-size-2 title">
                {{ network.gatewayVersion }}
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="widget is-stretched" style="height: 100%">
            <div class="widget-header is-tertiary-light">
              <div class="widget-title">
                {{ $t('home.nodeStatusBreakdown') }}
              </div>
            </div>
            <div class="widget-content p-md">
              <div class="loading p-xxl" v-if="$fetchState.pending" >
                <spinner size="md" />
              </div>
              <node-histogram v-else :nodes="nodes" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import sse from '@/mixins/sse';
import ordinal from 'ordinal';
import NodeMap from '@/components/NodeMap.vue';
import LineChart from '@/components/LineChart';
import BarChart from '@/components/BarChart';
import NodeHistogram from '@/components/NodeHistogram.vue';
import Spinner from '@/components/Spinner.vue';
import RealtimeControls from '@/components/RealtimeControls.vue';
import realtime from '@/mixins/realtime_controls';
import realtimeUpdates from '@/mixins/realtime_updates';
import { statusToClass } from '@/utils';

export default {
  mixins: [sse, realtime, realtimeUpdates],
  title: 'Quick View',
  data() {
    return {
      network: {},
      nodes: [],
      rounds: [],
    };
  },
  components: {
    NodeMap,
    LineChart,
    BarChart,
    NodeHistogram,
    Spinner,
    RealtimeControls,
  },
  fetchOnServer: false,
  async fetch() {
    const { $dashboard } = this;

    const [{ network }, { nodes }] = await Promise.all([
      $dashboard.getNetwork(),
      $dashboard.getNodes(),
      this.$store.dispatch('rounds/fetch'),
    ]);

    this.$store.commit('rounds/SET_SUCCESSFUL_TOTAL', network.totalSuccessfulRounds);

    this.nodes = nodes.filter(({ status }) => status !== 'defunct');
    this.network = network;

    const { rounds } = await this.$dashboard.getRounds();
    this.rounds = rounds;
  },
  methods: {
    ordinal,
    statusToClass,
    paginate(items = [], { perPage, page } = { perPage: 50, page: 1 }) {
      const index = page - 1;
      return items.slice(index * perPage, page * perPage);
    },
  },
  computed: {
    ...mapGetters({
      successfulRoundsTotal: 'rounds/successfulRoundsTotal',
      realtime: 'realtime/realtime',
    }),
    latestRound() {
      return this.rounds && this.rounds[0];
    },
    roundsSliced() {
      return this.rounds.slice(0, 10);
    },
    tpsData() {
      const { formatDate, toFixed } = this.$options.filters;
      const perf = this.network.performance || [];

      return {
        labels: perf.map(({ hour }) => formatDate(hour, 'HH:mm'))
          .reverse(),
        datasets: [{
          backgroundColor: 'rgba(0, 188, 206, 0.6)',
          borderColor: false,
          label: 'tps',
          data: perf.map(({ tps }) => toFixed(tps, 0)).reverse(),
        }],
      };
    },
    tpsOptions() {
      return {
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Time (UTC)',
            },
          }],
          yAxes: [{
            ticks: {
              suggestedMin: 0,
            },
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'mTPS',
            },
          }],
        },
      };
    },
    roundLengthData() {
      return {
        labels: this.rounds.slice(0, 10).map(({ id }) => id),
        datasets: [{
          backgroundColor: 'rgba(0, 128, 143)',
          borderColor: false,
          label: 'precomp duration (secs)',
          data: this.rounds.slice(0, 10).map(
            ({ precompDuration, status }) => (status === 'timeout' ? 0 : precompDuration),
          ),
        }, {
          backgroundColor: 'rgba(0, 188, 206)',
          borderColor: false,
          label: 'round length (secs)',
          data: this.rounds.slice(0, 10).map(
            ({ realtimeDuration, status }) => (status === 'timeout' ? 0 : realtimeDuration),
          ),
        }],
      };
    },
    roundLengthOptions() {
      return {
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Round Number',
            },
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'secs',
            },
          }],
        },
      };
    },
  },
  mounted() {
    this.$sse.addEventListener('round', ({ data }) => {
      const round = JSON.parse(data) || {};
      if (this.rounds.find(({ id }) => round.id === id)) {
        return;
      }

      if (this.realtime) {
        const update = () => {
          const found = this.rounds.find(({ id }) => id === round.id);
          if (!found) {
            this.rounds.unshift(round);
            this.rounds.pop();
          }
        };
        this.addUpdate(update);
      } else {
        this.$store.commit('realtime/ADD_ROUNDS', 1);
      }
    });

    this.$sse.addEventListener('total_successful_rounds', ({ data }) => {
      if (this.realtime) {
        const total = JSON.parse(data) || {};
        const update = () => this.$store.commit('rounds/SET_SUCCESSFUL_TOTAL', total);
        this.addUpdate(update);
      }
    });

    this.$sse.addEventListener('network_metrics_updated', ({ data }) => {
      if (this.realtime) {
        const network = JSON.parse(data) || {};
        const update = () => { this.network = network; };
        this.addUpdate(update);
      }
    });

    this.$sse.addEventListener('node_statuses_updated', ({ data }) => {
      if (this.realtime) {
        const nodeStatuses = JSON.parse(data) || {};
        const update = () => {
          this.nodes = this.nodes.map((n) => ({
            ...n,
            status: nodeStatuses[n.id] || n.status,
          })).filter((n) => n.status !== 'defunct');
        };
        this.addUpdate(update);
      }
    });
  },
};
</script>
<style scoped lang="scss">
.legend {
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  display: inline-block;
  border-radius: 3px;
  width: 4rem;
  background-color: $grey;
  height: 0.5rem;

  @each $key, $color in $colors {
    $colorValue: nth($color, 1);
    &.is-#{$key} {
      background-color: $colorValue;
    }
  }
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-nav {
  z-index: 2;
}
</style>
