<template>
  <div class="adjust-top-margin">
    <div class="wrapper">
      <div class="dimmer" :class="expanded && 'active'" @click="expanded = false" />
      <div class="is-relative">
        <h1 class="m-t-md m-b-md title has-text-tertiary-dark">
          {{ $t('round.id') }} {{ round.id }}
          &nbsp;
          <fa-icon
            v-if="!$messengerMode"
            width="20"
            :icon="nearbyRoundsState === 'loading' ? 'spinner' : 'caret-down'"
            :spin="nearbyRoundsState === 'loading'"
            class="has-text-tertiary-dark clickable caret-down"
            :class="expanded && 'turnt-up has-text-white'"
            @click="toggleRoundsDropdown"
          />
        </h1>
        <div class="custom-dropdown-menu" :class="{ expanded }">
          <ul v-if="nearbyRoundsState === 'success'">
            <li v-for="roundId in nearbyRounds" :key="roundId">
              <nuxt-link
                class="has-text-darker"
                :to="localePath({ name: 'rounds-id', params: { id: roundId }})"
              >
                {{ roundId }}
              </nuxt-link>
            </li>
          </ul>
          <p v-else-if="nearbyRoundsState === 'error'" class="has-text-danger p-md">
            {{ $t('error.general') }}
          </p>
        </div>
      </div>
      <template v-if="$messengerMode">
        <map-widget :round="round" />
        <round-metrics :round="round" />
      </template>
      <template v-else>
        <round-metrics :round="round" />
        <map-widget :round="round" />
      </template>
      <div class="columns m-t-lg">
        <div class="column widget is-stretched">
          <div class="widget-header is-tertiary-light">
            <div class="widget-title">
              {{ $t('round.precomp') }}
            </div>
          </div>
          <div class="widget-content p-lg has-text-centered">
            <div class="is-size-4 title m-b-none">
              {{ round.precompStart | formatDate }}
            </div>
            <div class="widget-subtitle">
              {{ $t('round.started') }}
            </div>
            <hr class="has-background-tertiary-light" style="width:100%" />
            <div class="is-size-4 title m-b-none">
              {{ round.precompEnd| formatDate }}
            </div>
            <div class="widget-subtitle">
              {{ $t('round.finished') }}
            </div>
          </div>
        </div>
        <div class="column widget is-stretched">
          <div class="widget-header is-tertiary-light">
            <div class="widget-title">
              {{ $t('round.realtime') }}
            </div>
          </div>
          <div class="widget-content p-lg has-text-centered">
            <div class="is-size-4 title m-b-none">
              {{ round.realtimeStart | formatDate }}
            </div>
            <div class="widget-subtitle">
              {{ $t('round.started') }}
            </div>
            <hr class="has-background-tertiary-light" style="width:100%" />
            <div class="is-size-4 title m-b-none">
              {{ round.realtimeEnd | formatDate }}
            </div>
            <div class="widget-subtitle">
              {{ $t('round.finished') }}
            </div>
          </div>
        </div>
        <div class="column widget is-stretched is-half">
          <div class="widget-header is-tertiary-light">
            <div class="widget-title">
              {{ $t('round.result') }}
            </div>
          </div>
          <div class="widget-content horizontal-split">
            <div class="p-lg has-text-centered">
              <div
                v-if="hasErrors"
                class="is-size-3 title has-text-danger"
              >
               {{ $t('round.failed') }}
              </div>
              <div
                v-else
                class="is-size-3 title has-text-success"
              >
               {{ $t('round.success') }}
              </div>
            </div>
            <div class="p-md errors" v-if="hasErrors">
              <samp v-for="({ error }, index) in errors" :key="index">
                {{ error }}
              </samp>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RoundMetrics from '@/components/Round/Metrics.vue';
import MapWidget from '@/components/Round/MapWidget.vue';

export default {
  title: 'Round View',
  data: () => ({
    round: {},
    roundIds: [],
    nearbyRoundsState: undefined,
    expanded: false,
    network: {},
  }),
  components: {
    RoundMetrics,
    MapWidget,
  },
  computed: {
    hasErrors() {
      return this.$get(this.round, 'errors.length') > 0;
    },
    errors() {
      return this.round.errors;
    },
    nearbyRounds() {
      return this.roundIds.slice().reverse();
    },
  },
  methods: {
    toggleRoundsDropdown() {
      this.expanded = !this.expanded;
      if (this.nearbyRoundsState !== 'loading' && this.expanded) {
        this.fetchNearbyRounds();
      }
    },
    async fetchNearbyRounds() {
      this.nearbyRoundsState = 'loading';
      const result = await this.$dashboard.findRoundIdsNear(this.round.id)
        .catch(() => { this.nearbyRoundsState = 'error'; });

      if (result && result.roundIds) {
        this.roundIds = result.roundIds;
        this.nearbyRoundsState = 'success';
      }
    },
  },
  async asyncData({
    params, error, app,
  }) {
    const { $dashboard } = app;
    const { id } = params;

    const [roundResult, networkResult] = (await Promise.all([
      $dashboard.findRound(id),
      $dashboard.getNetwork(),
    ]).catch(() => console.error(`Error finding round ${id}`))) || [];

    if (!roundResult || !roundResult.round) {
      return error({ statusCode: 404, message: 'Couldn\'t find that round' });
    }

    const { round } = roundResult || {};
    const { network } = networkResult || {};
    return { round, network };
  },
};
</script>
<style scoped lang="scss">
@import '@/assets/scss/widget.scss';

.errors {
  background-color: $tertiary-light;
  color: $darker;
  font-weight: 900;
  line-height: 1.2;

  max-height: 12rem;
  overflow: auto;

  samp {
    font-family: Roboto;
    margin-bottom: 0.25rem;
    display: block;
  }
}

.dimmer {
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  background:#000;
  opacity:0;
  position: fixed; /* important to use fixed, not absolute */
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:5; /* may not be necessary */

  &.active {
    pointer-events: all;
    opacity: 0.5;
  }
}

.caret-down {
  transition: transform 0.3s ease-in-out;

  &.turnt-up {
    transform: rotateX(180deg);
  }

  position: relative;
}

.custom-dropdown-menu {
  transition: all 0.3s ease-in-out;
  background-color: $background;
  position: absolute;
  top: calc(100% + 2rem);
  left: 0;
  min-width: 36rem;
  z-index: 6;
  box-shadow: 0 6px 53px 1px rgba($darker, 0.25);
  max-height: 0;
  overflow: auto;

  &.expanded {
    max-height: 16rem;
  }

  @include mobile {
    min-width: initial;
    width: 100%;
  }

  li {
    cursor: pointer;

    &:hover {
      color: $link;
    }

    &:first-child {
      margin-top: 0.5rem;
    }
    &:last-child {
      margin-bottom: 0.5rem;
    }

    padding: 0.5rem 2rem;
    line-height: 1.25;
    font-size: 1.25rem;
    color: $darker;

    &.active {
      color: $tertiary-dark;
      font-weight: 900;
    }

    & a.nuxt-link-exact-active {
      color: $tertiary-dark !important;
      font-weight: 900;
    }
  }
}
</style>
