<template>
  <div>
    <top-nav v-if="!$messengerMode" class="top-nav" />
    <realtime-controls
      v-if="!$messengerMode"
      class="realtime-controls"
      :loading="$fetchState.pending"
      @refresh="$fetch"
    />
    <div class="loading-spinner p-xxl" v-if="$fetchState.pending">
      <spinner size="md" />
    </div>
    <rounds v-else :rounds="rounds" />
  </div>
</template>
<script>
import sse from '@/mixins/sse';
import Rounds from '@/components/RoundsTable.vue';
import Spinner from '@/components/Spinner.vue';
import RealtimeControls from '@/components/RealtimeControls.vue';
import realtimeControls from '@/mixins/realtime_controls';
import realtimeUpdates from '@/mixins/realtime_updates';

export default {
  mixins: [sse, realtimeControls, realtimeUpdates],
  title: 'Rounds View',
  data: () => ({
    rounds: [],
    lastId: null,
    ids: [],
  }),
  components: {
    Rounds,
    Spinner,
    RealtimeControls,
  },
  fetchOnServer: false,
  async fetch() {
    const { rounds } = await this.$dashboard.getRounds();
    this.rounds = rounds;
  },
  mounted() {
    this.$sse.addEventListener('round', ({ data }) => {
      const round = JSON.parse(data) || {};
      if (this.rounds.find(({ id }) => round.id === id)) {
        return;
      }

      if (this.realtime) {
        const update = () => {
          const found = this.rounds.find(({ id }) => id === round.id);
          if (!found) {
            this.rounds.unshift(round);
            this.rounds.pop();
          }
        };
        this.addUpdate(update);
      } else {
        this.$store.commit('realtime/ADD_ROUNDS', 1);
      }
    });
  },
};
</script>
<style scoped lang="scss">
.loading-spinner {
  width: 100%;
  position: fixed;
  top: $topnav-height;

  @include touch {
    top: $topnav-height-touch;
  }
}

.top-nav {
  z-index: 2;
}
</style>
